@import '../styles/variables';
@import '../styles/media-queries';

body {
  margin-top: 0;
  margin-bottom: 0;
  background: #f2f3f5;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

body.dark-mode {
  background: #272727;
}