@import '../styles/variables';
@import '../styles/media-queries';

body {
  margin-top: 0;
  margin-bottom: 0;
  background: #efefef;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  .wrap {
    
  }
}

body.dark-mode {
  background: #292929;
}