@import '../../styles/variables';
@import '../../styles/media-queries';

.Settings {
  font-family: $font-heading;
  margin: 0;
  padding-top: 60px;
  align-items: center;

  @include phone-only {
    padding-top: 135px;
  }

  .content {
    padding: 20px;
    .header-area {
      display: flex;
      justify-content: space-between;

      .fa-chevron-left {
        align-self: center;
        font-size: 1.5rem;
      }
    }
    .heading {
      text-align: left;
      font-weight: 600;
      font-size: 1.375rem;
      margin: 0;
    }
  }
}

body.light-mode {
  .Settings {
    .content {
      background: white;
      color: #34495e;

      .header-area {
        .fa-chevron-left {
          color: #555;
        }
      }
    }
  }
}

body.dark-mode {
  .Settings {

  }
}