@import '../../styles/variables';
@import '../../styles/media-queries';

.Settings {
  font-family: $font-heading;
  margin: 0;
  padding-top: 60px;
  height: 100vh;

  @include phone-only {
    padding-top: 135px;
  }

  .content {
    padding: 20px;
    .header-area {
      display: flex;
      justify-content: space-between;

      .fa-chevron-left {
        align-self: center;
        font-size: 1.25rem;
        transition: font-size 0.2s ease;

        &:hover {
          font-size: 1.35rem;
        }
      }

      .heading {
        text-align: left;
        font-weight: 400;
        font-size: 1.25rem;
        margin: 0;
      }
    }

    .setting-night-mode {
      .settings-title {
        margin-top: 5px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 1rem;
      }

      .dark-mode {
        justify-content: center;
      }
    }
  }
}

body.light-mode {
  .Settings {
    .content {
      background: white;
      color: #34495e;

      .header-area {
        .heading {
          color: #34495e;
        }
        .fa-chevron-left {
          color: #34495e;
        }
      }
    }
  }
}

body.dark-mode {
  .Settings {
    .content {
      background: #393c3e;
      color: #34495e;

      .header-area {
        .heading {
          color: #dfdfdf;
        }
        .fa-chevron-left {
          color: #dfdfdf;
        }
      }

      
      .setting-night-mode {
        .settings-title {
          color: #dfdfdf;
        }
      }
    }
  }
}