@import '../../styles/variables';
@import '../../styles/media-queries';

.Comments {
  margin: 20px 0;
  padding-top: 60px;
  height: 100vh;

  @include phone-only {
    margin-top: 40px;
  }

  .comments-box {
    font-family: $font-heading;
    background-color: #fff;
    padding: 30px;
    border-bottom: 1px solid #eee;
    position: relative;
    line-height: 20px;
    text-align: left;
  }

  .loader {
    position: fixed;
    top: 50%;
    right: 50%;
  }
}

body.dark-mode {
  .author-box {
    background: #393c3e;
    border-bottom: 1px solid #272727;
    transition: background-color 0.3s ease;
    transition: border-bottom 0.3s ease;
  }
}
