@import '../../styles//variables';
@import '../../styles/media-queries';

.search-container {
  position: relative;
  display: flex;
  justify-content: center;

  .fa-search {
    color: white;
    align-self: center;
  }

  i.fa-search {
    padding: 12px 15px;
    background: #555;
  }
}

input#search-bar {
  width: 275px;
  padding: 10px 25px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
  &:focus {
    border: 1px solid transparent;
    transition: 0.35s ease;
    color: #333333;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }

  @include phone-only {
    font-size: 0.875rem;
    padding: 10px 20px;
    width: 100%;
  }

  @include phablet-only {
    width: 200px;
  }

  @include tablet-only {
    width: 300px;
  }

  @include desktop-only {
    width: 350px;
  }
}

body.dark-mode {
  .fa-search {
    color: lightblue;
  }

  i.fa-search {
    padding: 12px 15px;
    background: #555;
  }

  input#search-bar {
    background: #272727;
    border: 1px solid #393c3e;
    color: #dfdfdf;

    &::placeholder {
      color: #dfdfdf;
    }
  }
}
