@import '../../styles/variables';
@import '../../styles/media-queries';

.News-Results {
  font-family: $font-heading;

  .shadow {
    box-shadow: $primary-border-shadow;
    padding: 0;
  }

  .hit-item {
    padding: 1px;
    padding-left: 15px;
    padding-right: 15px;

    h3 {
      font-family: $font-heading;
      text-align: left;
      font-weight: 600;
      font-size: 0.925rem;
      margin-bottom: 5px;

      @include phone-only {
        font-size: 0.825rem;
      }
    }

    .support-hit {
      display: flex;
      p {
        margin-top: 0px;
        margin-bottom: 5px;
        margin-right: 10px;
        font-size: 12px;

        @include phone-only {
          font-size: 0.625rem;
        }
      }
    }
  }
}

body.light-mode {
  .News-Results {
    .hit-item {
      background: white;
      border-bottom: 1px solid rgb(238, 238, 238);
      transition: background-color 0.3s ease;

      h3 {
        color: #333333;
      }

      p {
        color: #333333;
      }
    }
  }
}

body.dark-mode {
  .News-Results {
    .hit-item {
      background: #10171d;
      border-bottom: 1px solid #1b2938;
      transition: background-color 0.3s ease;

      h3 {
        color: #dfdfdf;
      }

      p {
        color: #dfdfdf;
      }
    }
  }
}