@import '../../styles/variables';
@import '../../styles/media-queries';

.News-Results {
  font-family: $font-heading;
  margin: 30px 0;

  .hit-item {
    background-color: #fff;
    padding: 20px 30px 20px 80px;
    border-bottom: 1px solid #eee;
    position: relative;
    line-height: 20px;

    h3 {
      margin: 0 0 5px 0;
      font-family: $font-heading;
      text-align: left;
      font-weight: 400;
      font-size: 0.925rem;

      @include phone-only {
        font-size: 0.875rem;
      }
    }

    .support-hit {
      display: flex;
      p {
        margin: 0 10px 0 0;
        font-size: 0.85rem;

        @include phone-only {
          font-size: 0.625rem;
        }
      }
    }
  }
}

body.light-mode {
  .News-Results {
    .hit-item {
      background: white;
      border-bottom: 1px solid #eeeeee;
      transition: background-color 0.3s ease;

      h3 {
        color: #34495e;
      }

      p {
        color: #828282;
      }
    }
  }
}

body.dark-mode {
  .News-Results {
    .hit-item {
      background: #393c3e;
      border-bottom: 1px solid #272727;
      transition: background-color 0.3s ease;
      transition: border-bottom 0.3s ease;

      h3 {
        color: #dfdfdf;
      }

      p {
        color: #dfdfdf;
      }
    }
  }
}