@import '../../styles/variables';
@import '../../styles/media-queries';

.SubHeader {
  font-family: $font-heading;
  position: fixed;
  z-index: 999;
  top: 50px;
  left: 0;
  right: 0;
  padding: 10px 30px;
  background: white;

  box-shadow: 1px 2px rgba(0, 0, 0, 0.1);

  @include phone-only {
    top: 51px;
    padding: 10px;
  }

  .hide-content {
    @include phone-only {
      display: none;
    }
  }

  .subheader-content {
    display: flex;
    flex-direction: row;

    @include phone-only {
      justify-content: center;
    }

    .search {
      color: #34495e;
      margin: 0;
      font-size: 13px;
      align-self: center;
      margin-right: 10px;
    }

    .tags-dropdown {
      font-size: 13px;
      width: 105px;

      @include phone-only {
        margin-right: 5px;
      }

      .Dropdown-control {
        padding: 6px 20px 6px 14px;
        color: #34495e;

        @include phone-only {
          padding: 6px 20px 6px 6px;
        }
      }

      .Dropdown-menu {
        top: 100%;
        width: 105px;
      }
    }

    .by-relevance {
      color: #34495e;
      margin: 0;
      font-size: 13px;
      align-self: center;
      margin-right: 10px;
      margin-left: 15px;
    }
  }
}

body.light-mode {
  .SubHeader {
    .subheader-content {
      transition: background-color 0.3s ease;
    }
  }
}

body.dark-mode {
  .SubHeader {
    background-color: #393c3e;

    .subheader-content {
      color: #dfdfdf;
      transition: background-color 0.3s ease;

      p {
        color: #dfdfdf;
      }
    }
  }
}
