@import '../../styles/variables';
@import '../../styles/media-queries';

.SubHeader {
  font-family: $font-heading;
  position: fixed;
  z-index: 999;
  top: 60px;
  left: 0;
  right: 0;
  padding: 15px 30px;

  box-shadow:  1px 2px rgba(0,0,0,.1);

  @include phone-only {
    top: 129px;
  }

  .subheader-content {
    display: flex;
    flex-direction: row;

    .search {
      color: #34495e;
      margin: 0;
      font-size: 13px;
      align-self: center;
      margin-right: 10px;
    }

    .tags-dropdown {
      font-size: 13px;
      width: 105px;
      .Dropdown-control {
        padding: 6px 25px 6px 14px;
        color: #34495e;
      }

      .Dropdown-menu {
        top: 100%;
        width: 105px;
      }
    }

    .by-relevance {
      color: #34495e;
      margin: 0;
      font-size: 13px;
      align-self: center;
      margin-right: 10px;
      margin-left: 15px;
    }

  }

}

body.light-mode {
  .SubHeader {
    background: white;

    .subheader-content {
      transition: background-color 0.3s ease;
    }
  }
}

body.dark-mode {
  .SubHeader {
    background-color: #393c3e;

    .subheader-content {
      color: #dfdfdf;
      transition: background-color 0.3s ease;

      p {
        color: #dfdfdf;
      }
    }
  }
}