@import '../../styles/variables';
@import '../../styles/media-queries';

.Header {
  font-family: $font-heading;

  .header-content {
    display: flex;
    flex-direction: row;
    // height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    // justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

    @include phone-only {
      flex-direction: column;
    }

    // :last-child {
    //   margin-left: auto;
    // }

    h1 {
      margin-bottom: 0px;
      margin-top: 0px;
      font-family: $font-heading;
      font-size: 1.125rem;
      font-weight: 500;
      flex-grow: 1;
      text-align: left;

      @include phone-only {
        font-size: 1rem;
        margin-bottom: 10px;
        flex-grow: 1;
      }
    }

    .dark-mode-toggle {
      flex-grow: 1;
    }
  }

}

body.light-mode {
  .Header {
    .header-content {
      background: #ff6600;
      color: white;
      transition: background-color 0.3s ease;
    }
  }
}

body.dark-mode {
  .Header {
    .header-content {
      background-color: #1b2938;
      color: #dfdfdf;
      transition: background-color 0.3s ease;
    }
  }
}